<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand text-lg-center" href="">Ochrona danych</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <a class="text-light ml-4 mt-3">Wybierz zadanie:</a>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Z11">
                <span aria-hidden="true"></span> 1-1. Szyfr podstawieniowy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Z12">
                <span aria-hidden="true"></span> 1-2. Szyfr polialfabetyczny
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Z21">
                <span aria-hidden="true"></span> 2-1. Szyfr cezara
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Z22">
                <span aria-hidden="true"></span> 2-2. Szyfr Vigenère’a
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Z23">
                <span aria-hidden="true"></span> 2-3. Szyfr Playfair
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Z31">
                <span aria-hidden="true"></span> 3-1. Test Fermata
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Z32">
                <span aria-hidden="true"></span> 3-2. Wybór kluczy
            </NavLink>
        </li>
        <li class="nav-item px-3">
        <NavLink class="nav-link" href="Z33">
            <span aria-hidden="true"></span> 3-3. Szyfr RSA
        </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
